@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green-text" onmouseover="newColor()" onmouseout="oldColor()">Hello World</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

<hr />

    <h1 class="green-text">The discovery of my calling</h1>
    <p class="border">
        I first saw this video when I was 15! Although super weird, this music video is what made me realize that I loved technology, and wanted to pursue a career in it. <br />
        This video sparked my love for 3D art, which then led to my discovery of coding languages like HTML and Javascript! Shortly after discovering HTML and JS I stumbled upon a website building site called Neocities which really solidified for me that programming was what I wanted to do for the rest of my life.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cm2Xz8WKf-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

